$color-yellow: #ffc107;
$color-off-blue: #155263;
$mobile: 768px;
$small: 1024px;
$medium: 1280px;


*
{
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
}

body{
    background-color: $color-yellow;    
    margin: 0;
}

header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 9999;
        background-color: beige;

        div {
            width: 30%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 3.5em;
            a{
                color: $color-off-blue;
                text-decoration: none;
                font-weight: bold;
            }
            @media screen and (max-width: $medium) {
                width: 20%;
            }
            @media screen and (max-width: $small) {
                font-size: 2.5em;
            }
        }

        .navigation{
            width: 50%;
            align-items: center;
            display: flex;
                
            @media screen and (max-width: $medium) {
                width: 70%;
            }
            @media screen and (max-width: $small) {
                width: 80%;
            }
            
            @media screen and (max-width: $mobile) {
                display: none;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                flex: 1;
                li{
                    .selector{
                        justify-content: center;
                        display: flex;
                        color: $color-off-blue;
                        text-decoration: none;
                        font-weight: bold;
                        span {
                            display: inline-block;
                            &::after {
                                content: '';
                                width: 0px;
                                height: 1px;
                                display: block;
                                background: $color-off-blue;
                                transition: 300ms;
                              }
                              &:hover{
                                  &::after {
                                    width: 100%;
                                  }
                              }
                        }
                    }           
                }
            }
        }
}


main{
    section{
        
        padding: 8% 0 8% 0;

        h1{
            font-size: 5vw;
            margin: 0 5px;
        }
        hr{
            border-top: 10px double #000000;
            width: 60%;
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;

    h4{
        margin-bottom: 0;
    }
}

.hero {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 80vh;
    padding-bottom: 0;
    @media screen and (max-width: $medium){
        height: 60vh;
        padding-bottom: 0;
        padding-top: 0px;
    }
    @media screen and (max-width: $mobile){
        padding-bottom: 15%;
    }
    p{
        text-align: right;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: $small){
            width: 50%;
        }
        @media screen and (max-width: $mobile){
            width: 80%;
        }
        span{
            margin: 5% 0;
            font-size: 1.4em;
            @media screen and (max-width: $medium){
                font-size: 1em;
            }
            @media screen and (max-width: $mobile){
                display: none;
            }
        }
        img{
            width: 70%;
            border-radius: 65%;
            transition: transform 1s;
            &:hover{
                transform: rotateY(359deg);
            }
            @media screen and (max-width: $mobile){
                display:none;
            }
        }
    }
    .profile-pic{
        width:90%;
        border: 10px solid $color-off-blue;
        border-radius: 20%;
        @media screen and (max-width: $medium){
            width:80%;
        }
        @media screen and (max-width: $mobile){
            width:100%;
        }
    }
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me{
    margin: 0 auto;
    padding-top: 4% !important;
    p{
        text-align: center;
        width: 70%;
        font-size: 1.2em;
    }
}

.inverted-Section{
    background-color: black; 
    color: white;
    hr{
        border-top: 10px double white;
    }
}

.skill-items{
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin: 2% 0;
    div{
        transition: transform 1s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover{
            transform: rotateY(359deg);
        }
        h3{
            
        @media screen and (max-width: $mobile){
            font-size: 1em;
        }
        }

        img{     
            width: 50px;
            height: 50px;
        }
    }
}

.project-items{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    padding-top: 5%;
            
    @media screen and (max-width: $small){
        flex-direction: column;
        align-items: center;
    }
}

.first-Card{
    display: flex;
    justify-content: center;
}

.card-container{ 
    height: 25vh;
    width: 35vw;
    border-radius: 50px;
    background-size: cover;       
    @media screen and (max-width: $small){
        width: 70vw;
    }
}

.first-card-container{    
    height: 30vh;
    width: 50vw;       
    @media screen and (max-width: $small){
        width: 90vw;
    }
}

.cards{
    background-color: black;
    background-image: linear-gradient(red, $color-yellow);
    transition: transform 1s;
    text-decoration: none;
    color: black;
            
    @media screen and (max-width: $small){
        margin: 15px;
    }

    &:hover{
        transform: scale(1.1);
    }
    .card{
        opacity: 30%;
        transition: opacity 1s;
        &:hover{
            opacity: 100%;
        }

        .card-item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            div{
                background-color: beige;
                width: 40%;
                height: 25%;
                border-radius: 0 50px 50px 0;
                padding-left: 20px;
                padding: 10px 20px 10px 20px;       
                @media screen and (max-width: $small){
                    width: 80%;
                }
                span{
                    font-weight: bold;
                    font-size: 1.1em;
                    display: flex;
                    flex-wrap: wrap;
                    @media screen and (max-width: $small){
                        justify-content: center;
                        font-size: 1.8em;
                    }
                }
                p{
                    @media screen and (max-width: $small){
                        display: none;
                    } 
                }
            }
        }
    }
}

.btn { 
    background: black;
    padding: 10px 50px;
    border-radius: 10px;
    text-decoration: none;
    @media screen and (max-width: $small) {
        padding: 10px 20px;
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    input{
        border-radius: 15px;
        width: 30vw;
    }

    textarea{
        margin-bottom: 15px;
        width: 50vw;
        height: 15vh;
    
    }
}

.mobile-nav{
    display: none;
    @media screen and (max-width: $mobile) {
        display: block;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 9999;
        background-color: beige;
    }
    div{
        div{
            a{
                text-decoration: none;
                font-size: 2.5em;
                margin: 20px;
                color: $color-off-blue;
            }
        }
    }
    .nav-links{
        display: none;
        ul{
            @media screen and (max-width: $mobile) {
                display: flex;
                list-style: none;
                flex-direction: column;
                align-items: center;
                padding: 4vh;
            }
            li{
                @media screen and (max-width: $mobile) {
                    margin: 10px;
                    color: $color-off-blue;
                    text-decoration: none;
                    font-weight: bold;
                }
                a{
                    @media screen and (max-width: $mobile) {
                        justify-content: center;
                        display: flex;
                        color: $color-off-blue;
                        text-decoration: none;
                        font-weight: bold;
                        span {
                            display: inline-block;
                            &::after {
                                content: '';
                                width: 0px;
                                height: 1px;
                                display: block;
                                background: $color-off-blue;
                                transition: 300ms;
                              }
                              &:hover{
                                  &::after {
                                    width: 100%;
                                  }
                              }
                        }
                    }
                }
            }
        }
    }
}
        
.icon{
    display: none;
    i{
        margin: 10px;
    }
    @media screen and (max-width: $mobile) {
        display: block;
        color: $color-off-blue;
        text-decoration: none;
        
        top: 0;
        position: absolute;
        right: 20px;
        margin-left: 10px;
    }
}

.desktop-nav{
    @media screen and (max-width: $mobile) {
        display: none;
    }
}

#close{
    display: none;
}

.desktop-info{
    
    @media screen and (max-width: $mobile) {
        display: none;
    }
}

.submit-btn{
    width: 11vw !important; 
    height: 5vh;
    @media screen and (max-width: $mobile) {
        width: 20vw !important;
    }
}