* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ffc107;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  background-color: beige;
}
header div {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3.5em;
}
header div a {
  color: #155263;
  text-decoration: none;
  font-weight: bold;
}
@media screen and (max-width: 1280px) {
  header div {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  header div {
    font-size: 2.5em;
  }
}
header .navigation {
  width: 50%;
  align-items: center;
  display: flex;
}
@media screen and (max-width: 1280px) {
  header .navigation {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  header .navigation {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  header .navigation {
    display: none;
  }
}
header .navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex: 1;
}
header .navigation ul li .selector {
  justify-content: center;
  display: flex;
  color: #155263;
  text-decoration: none;
  font-weight: bold;
}
header .navigation ul li .selector span {
  display: inline-block;
}
header .navigation ul li .selector span::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #155263;
  transition: 300ms;
}
header .navigation ul li .selector span:hover::after {
  width: 100%;
}

main section {
  padding: 8% 0 8% 0;
}
main section h1 {
  font-size: 5vw;
  margin: 0 5px;
}
main section hr {
  border-top: 10px double #000000;
  width: 60%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}
footer h4 {
  margin-bottom: 0;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 80vh;
  padding-bottom: 0;
}
@media screen and (max-width: 1280px) {
  .hero {
    height: 60vh;
    padding-bottom: 0;
    padding-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    padding-bottom: 15%;
  }
}
.hero p {
  text-align: right;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .hero p {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .hero p {
    width: 80%;
  }
}
.hero p span {
  margin: 5% 0;
  font-size: 1.4em;
}
@media screen and (max-width: 1280px) {
  .hero p span {
    font-size: 1em;
  }
}
@media screen and (max-width: 768px) {
  .hero p span {
    display: none;
  }
}
.hero p img {
  width: 70%;
  border-radius: 65%;
  transition: transform 1s;
}
.hero p img:hover {
  transform: rotateY(359deg);
}
@media screen and (max-width: 768px) {
  .hero p img {
    display: none;
  }
}
.hero .profile-pic {
  width: 90%;
  border: 10px solid #155263;
  border-radius: 20%;
}
@media screen and (max-width: 1280px) {
  .hero .profile-pic {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .hero .profile-pic {
    width: 100%;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me {
  margin: 0 auto;
  padding-top: 4% !important;
}
.about-me p {
  text-align: center;
  width: 70%;
  font-size: 1.2em;
}

.inverted-Section {
  background-color: black;
  color: white;
}
.inverted-Section hr {
  border-top: 10px double white;
}

.skill-items {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  margin: 2% 0;
}
.skill-items div {
  transition: transform 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-items div:hover {
  transform: rotateY(359deg);
}
@media screen and (max-width: 768px) {
  .skill-items div h3 {
    font-size: 1em;
  }
}
.skill-items div img {
  width: 50px;
  height: 50px;
}

.project-items {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  padding-top: 5%;
}
@media screen and (max-width: 1024px) {
  .project-items {
    flex-direction: column;
    align-items: center;
  }
}

.first-Card {
  display: flex;
  justify-content: center;
}

.card-container {
  height: 25vh;
  width: 40vw;
  border-radius: 50px;
  background-size: cover;
}

.first-card-container {
  height: 30vh;
  width: 50vw;
}

.cards {
  background-color: black;
  background-image: linear-gradient(red, #ffc107);
  transition: transform 1s;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1024px) {
  .cards {
    margin: 15px;
  }
}
.cards:hover {
  transform: scale(1.1);
}
.cards .card {
  opacity: 30%;
  transition: opacity 1s;
}
.cards .card:hover {
  opacity: 100%;
}
.cards .card .card-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cards .card .card-item div {
  background-color: beige;
  width: 40%;
  height: 25%;
  border-radius: 0 50px 50px 0;
  padding-left: 20px;
  padding: 10px 20px 10px 20px;
}
@media screen and (max-width: 1024px) {
  .cards .card .card-item div {
    width: 80%;
  }
}
.cards .card .card-item div span {
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .cards .card .card-item div span {
    justify-content: center;
    font-size: 1.8em;
  }
}
@media screen and (max-width: 1024px) {
  .cards .card .card-item div p {
    display: none;
  }
}

.btn {
  background: black;
  padding: 10px 50px;
  border-radius: 10px;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .btn {
    padding: 10px 20px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form label {
  margin-bottom: 15px;
  margin-top: 15px;
}
.contact-form input {
  border-radius: 15px;
  width: 30vw;
}
.contact-form textarea {
  margin-bottom: 15px;
  width: 50vw;
  height: 15vh;
}

.mobile-nav {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile-nav {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    background-color: beige;
  }
}
.mobile-nav div div a {
  text-decoration: none;
  font-size: 2.5em;
  margin: 20px;
  color: #155263;
}
.mobile-nav .nav-links {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile-nav .nav-links ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding: 4vh;
  }
}
@media screen and (max-width: 768px) {
  .mobile-nav .nav-links ul li {
    margin: 10px;
    color: #155263;
    text-decoration: none;
    font-weight: bold;
  }
}
@media screen and (max-width: 768px) {
  .mobile-nav .nav-links ul li a {
    justify-content: center;
    display: flex;
    color: #155263;
    text-decoration: none;
    font-weight: bold;
  }
  .mobile-nav .nav-links ul li a span {
    display: inline-block;
  }
  .mobile-nav .nav-links ul li a span::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #155263;
    transition: 300ms;
  }
  .mobile-nav .nav-links ul li a span:hover::after {
    width: 100%;
  }
}

.icon {
  display: none;
}
.icon i {
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .icon {
    display: block;
    color: #155263;
    text-decoration: none;
    top: 0;
    position: absolute;
    right: 20px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
}

#close {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-info {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
