$color-yellow: #ffc107;
$color-off-blue: #155263;

*
{
   font-family: 'Roboto', sans-serif;
}

body{
    background-color: $color-yellow;    
    margin: 0;
}

header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 9999;
        background-color: $color-yellow;

        div {
            width: 30%;
            a{
                text-decoration: none;
                img {
                    width: 70%;
                }
            }
        }

        nav{
            width: 50%;
            align-items: center;
            display: flex;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                flex: 1;

                li{
                    a{
                        justify-content: center;
                        display: flex;
                        color: $color-off-blue;
                        text-decoration: none;
                        font-weight: bold;
                        span {
                            display: inline-block;
                            &::after {
                                content: '';
                                width: 0px;
                                height: 1px;
                                display: block;
                                background: $color-off-blue;
                                transition: 300ms;
                              }
                              &:hover{
                                  &::after {
                                    width: 100%;
                                  }
                              }
                        }
                    }           
                }
            }
        }
}

.hero {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 45vw;
    p{
        text-align: right;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            margin: 5% 0;
        }
        img{
            width: 65%;
        }
        transition: transform .5s;
        &:hover{
            transform: scale(1.2);
        }
    }
    .profile-pic{
        border: 10px solid $color-off-blue;
        transition: transform .5s;
        &:hover{
            transform: scale(1.1);
        }
    }
}