$color-yellow: #ffc107;
$color-off-blue: #155263;

*
{
   font-family: 'Roboto', sans-serif;
}

body{
    background-color: $color-yellow;    
    margin: 0;
}

header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 9999;
        background-color: beige;

        div {
            width: 30%;
            a{
                text-decoration: none;
                img {
                    width: 40%;
                }
            }
        }

        nav{
            width: 50%;
            align-items: center;
            display: flex;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                flex: 1;

                li{
                    a{
                        justify-content: center;
                        display: flex;
                        color: $color-off-blue;
                        text-decoration: none;
                        font-weight: bold;
                        span {
                            display: inline-block;
                            &::after {
                                content: '';
                                width: 0px;
                                height: 1px;
                                display: block;
                                background: $color-off-blue;
                                transition: 300ms;
                              }
                              &:hover{
                                  &::after {
                                    width: 100%;
                                  }
                              }
                        }
                    }           
                }
            }
        }
}


main{
    section{
        &:not(:first-child) {
            padding: 8% 0 8% 0;
        }
        h1{
            font-size: 5vw;
            margin: 0 5px;
        }
        hr{
            border-top: 10px double #000000;
            width: 60%;
        }
    }
}

.hero {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 45vw;
    p{
        text-align: right;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            margin: 5% 0;
        }
        img{
            width:50%;
            border: 10px solid $color-off-blue;
        }
        transition: transform .5s;
        &:hover{
            transform: scale(1.2);
        }
    }
    .wonder-pic{
        width: 40%;
        transition: transform .5s;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me{
    margin: 0 auto;
    padding-top: 0px;
    p{
        text-align: center;
        width: 65%;
    }
}

.inverted-Section{
    background-color: black; 
    color: white;
    hr{
        border-top: 10px double white;
    }
}

.skill-items{
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin: 2% 0;
    div{
        transition: transform 1s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover{
            transform: rotateY(359deg);
        }

        img{     
            width: 50px;
            height: 50px;
        }
    }
}

.card{
    height: 200px;
    width: 350px;
    border-radius: 50px;
    background-color: black;
    background-image: linear-gradient(red, $color-yellow);
    transition: transform 1s;

    &:hover{
        transform: scaleY(1.1);
    }
    .card-item{
        color: white;
        height: 200px;
        width: 350px;
        border-radius: 50px;
        opacity: 30%;
        transition: opacity 1s;
        &:hover{
            opacity: 100%;
        }
    }
}

.project-items{
    display: flex;
    justify-content: space-between;
    width: 90%;
}